<!DOCTYPE html>
<html>
  <head>
    <title>Vue.jsの基本</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>ToDoリスト</h1>
    <div id="app">
      <form @submit.prevent="addToDo">
        <input v-model="newToDo" placeholder="ToDoを入力" />
        <button>登録</button>
      </form>
      <ul>
        <li v-for="toDo in toDoList" :key="toDo.id">
          <div v-if="toDo.edit">
            <input v-model="editToDo" />
            <button @click="finishEditToDo(toDo)">登録</button>
          </div>
          <div v-else>
            {{ toDo.text }}
            <button @click="startEditToDo(toDo)">編集</button>
            <button @click="removeToDo(toDo)">削除</button>
          </div>
        </li>
      </ul>
    </div>

    <script type="module">
      import {
        createApp,
        reactive,
        ref,
      } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

      createApp({
        setup() {
          let id = 0;
          const newToDo = ref("");
          const editToDo = ref("");
          const toDoList = ref([]);
          function addToDo() {
            toDoList.value.push({ id: id++, text: newToDo.value, edit: false });
            newToDo.value = "";
          }
          function startEditToDo(toDo) {
            toDo.edit = true;
            editToDo.value = toDo.text;
          }
          function finishEditToDo(toDo) {
            toDo.text = editToDo.value;
            toDo.edit = false;
          }
          function removeToDo(toDo) {
            toDoList.value = toDoList.value.filter((t) => t !== toDo);
          }

          return {
            newToDo,
            editToDo,
            toDoList,
            addToDo,
            startEditToDo,
            finishEditToDo,
            removeToDo,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
