<!DOCTYPE html>
<html>
  <head>
    <title>Vue.jsの基本</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>ToDoリスト</h1>
    <div id="app">
      <form @submit.prevent="addToDo">
        <input v-model="newToDo" placeholder="ToDoを入力" />
        <button>登録</button>
      </form>
      <ul>
        <li v-for="toDo in getToDoList()" :key="toDo.id">
          <div v-if="toDo.edit">
            <input v-model="editToDo" />
            <form style="display: inline" @submit="finishEditToDo(toDo)">
              <button>登録</button>
            </form>
          </div>
          <div v-else>
            {{ toDo.text }}
            <form style="display: inline" @submit="startEditToDo(toDo)">
              <button>編集</button>
            </form>
            <form style="display: inline" @submit="removeToDo(toDo)">
              <button>削除</button>
            </form>
          </div>
        </li>
      </ul>
    </div>

    <script type="module">
      import {
        createApp,
        reactive,
        ref,
      } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

      createApp({
        setup() {
          let id = 0;
          const newToDo = ref("");
          const editToDo = ref("");
          const getToDoList = () => {
            return JSON.parse(localStorage.getItem("toDoList") ?? "[]");
          };
          const setToDoList = (toDoList) => {
            localStorage.setItem("toDoList", JSON.stringify(toDoList));
          };
          const getMaxId = () => {
            const toDoList = getToDoList();
            if (toDoList.length === 0) {
              return 0;
            } else {
              return Math.max(...toDoList.map((toDo) => toDo.id));
            }
          };
          const getToDoById = (id) => {
            const toDoList = getToDoList();
            for (const toDo of toDoList) {
              if (toDo.id === id) {
                return toDo;
              }
            }
          };
          const addToDo = () => {
            const toDoList = getToDoList();
            toDoList.push({
              id: getMaxId() + 1,
              text: newToDo.value,
              edit: false,
            });
            newToDo.value = "";
            setToDoList(toDoList);
          };
          const startEditToDo = (toDo) => {
            const toDoList = getToDoList();
            const idx = toDoList.map((t) => t.id).indexOf(toDo.id);
            toDoList[idx].edit = true;
            editToDo.value = toDo.text;
            setToDoList(toDoList);
          };
          const finishEditToDo = (toDo) => {
            const toDoList = getToDoList();
            const idx = toDoList.map((t) => t.id).indexOf(toDo.id);
            toDoList[idx].edit = false;
            toDoList[idx].text = editToDo.value;
            setToDoList(toDoList);
          };
          const removeToDo = (toDo) => {
            let toDoList = getToDoList();
            toDoList = toDoList.filter((t) => t.id !== toDo.id);
            setToDoList(toDoList);
          };

          return {
            newToDo,
            editToDo,
            getToDoList,
            addToDo,
            startEditToDo,
            finishEditToDo,
            removeToDo,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
